body {
  background-color: #1e1e1e;
  color: #f5f5f5;
  font-family: "Poppins", sans-serif;
}

.dashboard-container {
  width: 500px;
  margin: 60px auto;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  background: #2b2b2b;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.dashboard-title {
  font-size: 22px;
  margin-bottom: 20px;
  color: #ff5f4d;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: #3a3a3a;
  color: white;
}

.room-actions {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  color: white;
  transition: 0.2s;
  font-weight: bold;
}

.btn.create {
  background: #ff5f4d;
}

.btn.join {
  background: #27ae60;
}

.btn.create:hover {
  background: #ff3c28;
}

.btn.join:hover {
  background: #219150;
}

.room-list-title {
  margin-top: 25px;
  font-size: 18px;
  color: #ffb347;
}

.room-list {
  margin-top: 10px;
  text-align: left;
}

.room-card {
  background: #f8f8f8;
  color: #222;
  padding: 10px 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-card:hover {
  transform: scale(1.02);
  transition: 0.2s ease-in-out;
}

.room-name {
  font-weight: 600;
}

.btn.join-small {
  background: #ff5f4d;
  color: white;
  font-size: 13px;
  padding: 6px 10px;
}

.no-room {
  text-align: center;
  margin-top: 15px;
  color: #ccc;
}
